<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Kang Young Eun</title>

  {% load static %}

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  <!-- Page level plugin CSS-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <style>
      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      
  </style>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>