<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewpoprt" content="width=device-width">
    
    <title>Kang Young Eun</title>
    
    <meta name="author" content="Kang Young Eun">
    <link href="C:\Users\강영은\Desktop\portfolio\static\css\family.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="C:\Users\강영은\Desktop\portfolio\static\css\projects.css">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>
<body>
  <header>
            <div id="header-name" class="header">
               <h1>Projects</h1>
               <h2>by Kang Young Eun</h2>
             </div>
             
             <div class="nav">
              <a class="nav-item" href="main.html">Main</a>
              <a class="nav-item" href="courses">Courses</a>
              <a class="nav-item" href="skills.html">Skills</a>
              <a class="nav-item" href="resume">Resume</a>
          </div>
    </header>
    <hr>
</body>
</html>