{% extends 'base.html' %}
{% block body %}



<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewpoprt" content="width=device-width">
    <title>Kang Young Eun</title>
    
    <meta name="author" content="Kang Young Eun">
    <link href="C:\Users\강영은\Desktop\portfolio\static\css\family.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="C:\Users\강영은\Desktop\portfolio\static\css\style.css">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    
    
</head>

{% load static from staticfiles %}
{% load static %}

<body>
    <div class="header">
        <div class="header-block">
            <h1>Kang Young Eun</h1>
        <div class="nav">
            <a class="nav-item" href="{% url 'main' %}">Main</a>
            <a class="nav-item" href="{% url 'projects' %}">Projects</a>
            <a class="nav-item" href="{% url 'courses' %}">Courses</a>
            <a class="nav-item" href="{% url 'resume' %}">Resume</a>

        </div>
        <br>
        <div class="intro">
            <p>Currently CS Student and Engineer</p>
            <p>Email: reginakang52@gmail.com</p>
            <p>Phone: (+82)1027708326</p>
        </div>
        <br>
        <div class="social-media">
            <a class="social-media-item" href="https://www.instagram.com/younggg_eeun/">
                <img src="{% static 'images\instagram.jpg' %}">
            </a>
            <a class="social-media-item" href="https://www.facebook.com/profile.php?id=100011112421292">
                <img src="{% static 'images\facebook.jpg' %}">
            </a>
            <a class="social-media-item" href="https://github.com/wannapg">
                <img src="{% static 'images\github.png' %}">
            </a>
        </div>
        </div>
    </div>
    <a href="extras" title="Extras">
        <div class="extra-icon"></div>
    </a>
    <script async src="C:\Users\강영은\Desktop\portfolio\static\js\analytics.js"></script>
    <script>
        
        (function(i,s,o,g,r,a,m){
            i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','C:\Users\강영은\Desktop\portfolio\static\js\analytics.js','ga');

  ga('create', 'UA-11958202-9', 'auto');
  ga('send', 'pageview');


    </script>
</body>
{% endblock %}
